<div class="w-screen py-12 uppercase flex flex-row px-8 justify-center font-medium text-slate-700">
    <div class="max-w-5xl w-full grid grid-cols-1 lg:grid-cols-4 gap-y-16 text-xs">
        <div class="flex flex-col gap-y-5">
            <a href="https://github.com/0xPolycode/">GitHub</a>
            <a href="https://twitter.com/polyflow_dev">Twitter</a>
            <a href="https://www.linkedin.com/company/polyflowdev/">LinkedIn</a>
            <div class="cursor-pointer" routerLink="/contact">Contact Us</div>
        </div>
        <div class="flex flex-col gap-y-5">
            <a routerLink="pricing">Pricing</a>
            <a href="https://polycode.gitbook.io/docs/sdk/introduction">Docs</a>
            <a routerLink="aboutus">About Us</a>
            <a routerLink="aboutus">Partnerships</a>
            <a href="https://devkit.polycode.sh/">Get Started</a>
        </div>
        <div class="flex flex-col gap-y-5">
            
        </div>
        <div class="flex flex-col gap-y-2">
            <img class="h-8 w-8" src="../../assets/polycode-logo.png" alt="" srcset="">
            <div>Polycode Technology</div>
            <div>Slavonska Avenija 6</div>
            <div>10000 Zagreb, Croatia</div>
        </div>
    </div>
</div>