<div class="w-screen h-screen flex flex-col justify-center items-center background-animate snap-center
bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-gray-900 to-gray-600">
    <div class="text-white text-4xl leading-relaxed
         font-bold max-w-3xl text-center">Multi-chain? Polyflow has got you covered</div>
    <div class="max-w-6xl mt-12 h-3/5 gap-x-12 w-full flex flex-row items-center justify-center text-white">
        <div class="w-5/12 grid grid-cols-1 gap-4">
            <div class="w-full border border-dashed bg-slate-800 rounded-lg p-8">
                <div class="font-semibold uppercase">Smart contract & address management</div>
                <div class="text-sm mt-3 opacity-75">
                    All project smart contracts, on all networks and development environments - neatly organized in a config file.
                </div>
            </div>
            <div class="w-full border border-dashed bg-slate-800 rounded-lg p-8">
                <div class="font-semibold uppercase">Node infrastructure management</div>
                <div class="text-sm mt-3 opacity-75">
                    Set-and-forget RPC management. Synchronized RPC providers across all projects & fallback RPC config for 
                    ensuring uptime.
                </div>
            </div>
            <div class="w-full border border-dashed bg-slate-800 rounded-lg p-8">
                <div class="font-semibold uppercase">Allowing teams to scale</div>
                <div class="text-sm mt-3 opacity-75">
                    Polyflow config can serve as a single source of truth for smart contract devs, DevOps, frontend & mobile devs.
                </div>
            </div>
        </div>
        <div class="h-full w-7/12 flex flex-row rounded-lg border border-white border-dashed">
            <iframe class="w-full h-full rounded-lg" src="https://pastebin.com/embed_iframe/xmh7pwzP?theme=dark" style="border:none"></iframe>
        </div>
    </div>
</div>