<app-navbar></app-navbar>

<div class="w-screen heroholder h-screen flex bg-gradient-to-br from-indigo-50 to-white text-slate-800
  flex-col items-center justify-center ">

  <div class="mb-4 text-4xl font-black leading-[1.3] max-w-3xl text-center">Polyflow is a <span class="text-indigo-800">full-stack</span> Web3 <span class="text-indigo-800">customer acquisition</span> toolbox</div>
  <div class="mb-8 text-2xl text-slate-600 max-w-3xl text-center leading-normal">
    Make data-driven growth decisions & acquire users cheaper & easier than ever before.
  </div>

  <div class="w-full grid grid-cols-2 max-w-5xl gap-8">
    <div routerLink="analytics" class=" p-10 cursor-pointer transition-all text-indigo-800
    rounded-lg flex flex-col bg-indigo-100 shadow-sm hover:bg-indigo-500 hover:text-white">
      <div class="w-full flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
        </svg>        
      </div>
      <div class="mt-4 mb-2 opacity-50 uppercase">For growth hackers & marketers</div>
      <div class="uppercase font-semibold text-xl">Analytics & Behavior Tracking</div>
      <div class="mt-2 text-base leading-6">
        View dApp analytics, track & optimize Web3 marketing campaigns & growth strategies.
      </div>
      <div class="mt-8 py-3 w-full border border-indigo-300 uppercase hover:border-white rounded-lg text-center font-semibold">Learn more</div>
    </div>
    <div routerLink="analytics" class=" p-10 cursor-pointer transition-all text-emerald-800
    rounded-lg flex flex-col bg-emerald-100 shadow-sm hover:bg-emerald-500 hover:text-white">
      <div class="w-full flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
        </svg>        
      </div>
      <div class="mt-4 mb-2 opacity-50 uppercase">For customer care</div>
      <div class="uppercase font-semibold text-xl">Web3 Incident Logging</div>
      <div class="mt-2 text-base leading-6">
        Easily help users with errors & issues on your Web3 frontends.
      </div>
      <div class="mt-8 py-3 w-full border uppercase border-emerald-300
        rounded-lg text-center font-semibold">Learn more</div>
    </div>
    
  </div>
</div>


<!-- <div class="hidden z-50 bg-[rgb(0,0,0,0.1)]  fixed left-0 pl-4 top-0 lg:flex flex-col h-screen text-right border-r border-dashed w-16
     gap-y-12 text-sm uppercase font-semibold justify-center items-center text-white">
</div>

<div class="hidden z-50 bg-[rgb(0,0,0,0.1)] fixed right-0  px-2 top-0 lg:flex flex-col h-screen text-right border-l border-dashed w-16
     gap-y-12 text-sm uppercase font-semibold justify-center items-center text-white">

    <div>
      
      <a target="_blank" href="https://twitter.com/0xPolyflow" class="p-3 border flex flex-row items-center justify-center transition-all
       rounded-full hover:bg-slate-900 cursor-pointer hover:scale-105">
        <img class="w-4" src="../../assets/twitterlogo.png" alt="" srcset=""> 
    </a>

    </div>
</div> -->

<!-- <div class="bg-[rgb(0,0,0,0.1)] fixed right-0 backdrop-blur-[4px] gap-x-2 bottom-0 flex flex-row w-screen text-right border-dashed h-20
    gap-y-12 z-40 text-sm uppercase font-semibold justify-center items-center text-white">

  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdfe7o4xa4BaP1jUjg4PM_tZ1wgHWqkmsO_5tt9eeM7i-0rLA/viewform"
    class="py-2 px-8 text-xs lg:text-sm cursor-pointer transition-all hover:bg-white hover:text-slate-800 uppercase border rounded-lg">
    Join waitlist
  </a>
  <div (click)="toggleSubstack()"
    class="py-2 px-8 text-xs lg:text-sm cursor-pointer transition-all hover:bg-white hover:text-slate-800 uppercase border rounded-lg">
    Get Newsletter
  </div>
</div> -->


<!-- <div *ngIf="substackFormToggled"
  class="w-screen backdrop-blur-[2px] h-screen z-50 fixed top-0 left-0 bg-[rgba(0,0,0,0.8)] flex flex-col items-center justify-center">
  <div class="bg-slate-800 p-4 rounded-lg">
    <iframe src="https://polyflow.substack.com/embed" class="rounded-lg" width="480" height="320"
      style="border:1px solid #EEE; background:#cce;" frameborder="0" scrolling="no"></iframe>
    <div (click)="toggleSubstack()" class="text-white text-center rounded-lg mt-4 border p-4
        hover:bg-slate-300 hover:text-slate-800 cursor-pointer transition-all uppercase font-medium">Close</div>
  </div>

</div> -->