<div class="w-full min-h-screen h-full flex flex-col items-center">
    <app-navbar></app-navbar>
    <div class="lg:mt-40 mt-24 max-w-6xl px-8 grid grid-cols-4  w-full">
        <div class="lg:col-span-3 col-span-4">
            <div class="text-7xl lg:hidden">
                🤝
            </div>
            <div class="w-full lg:text-5xl text-3xl font-bold uppercase
            text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 to-blue-500">
                Become a Polyflow partner
            </div>
            <div class="mt-3 text-slate-600 max-w-3xl lg:text-lg text-base w-full">
                By becoming a Polyflow reseller or affiliate, you'll add a powerful analytics solution to your offering
                & earn extra income through a generous revenue share programme.
            </div>
            <div class="flex flex-row mt-4">
                <div routerLink="/contact" class="lg:px-8 justify-center lg:text-sm text-xs hover:bg-indigo-700 hover:text-white cursor-pointer w-full lg:w-auto flex flex-row gap-x-2 items-center
                transition-all py-4 rounded-lg bg-indigo-100 text-indigo-800 uppercase font-semibold">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:w-6 lg:h-6 w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                          </svg>
                          
                    </div>
                    Contact our integrations team
                </div>
            </div>
        </div>
        <div class="text-9xl hidden  lg:flex flex-row items-center justify-center w-full">
            🤝
        </div>
    </div>

    <div class="mt-8 text-2xl uppercase font-semibold text-slate-500">Anyone can join</div>
    <div class="mt-4 grid lg:grid-cols-3 grid-cols-1 w-full max-w-6xl px-8 gap-8">

        <div class="bg-indigo-50 p-8 rounded-lg">
            <div class="uppercase font-semibold text-center text-indigo-800">Agencies</div>

            <div class="mt-4 text-sm flex flex-row items-start text-slate-700 gap-x-2 font-medium">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg> 
                </div>    
                <div class="flex flex-row items-start align-top -mt-[0.18rem]">
                   Get discounted Polyflow licences for your clients.
                </div>         
            </div>

            <div class="mt-4 text-sm flex flex-row items-start text-slate-700 gap-x-2 font-medium">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg> 
                </div>    
                <div class="flex flex-row items-start align-top -mt-[0.18rem]">
                    Receive a kickback for every integrated instance of Polyflow.
                </div>         
            </div>

        </div>
        <div class="bg-indigo-50 p-8 rounded-lg">
            <div class="uppercase font-semibold text-indigo-800 text-center">Grant programme managers</div>
            
            <div class="mt-4 text-sm flex flex-row items-start text-slate-700 gap-x-2 font-medium">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg> 
                </div>    
                <div class="flex flex-row items-start align-top -mt-[0.18rem]">
                    Track the performance of your grant recipients on Web3 metrics.
                </div>         
            </div>

            <div class="mt-4 text-sm flex flex-row items-start text-slate-700 gap-x-2 font-medium">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg> 
                </div>    
                <div class="flex flex-row items-start align-top -mt-[0.18rem]">
                    Detect 'wash trading' and fake users / transactions.
                </div>         
            </div>
        </div>
        <div class="bg-indigo-50 shadow-sm p-8 rounded-lg">
            <div class="uppercase font-semibold text-indigo-800 text-center">Marketers</div>

            <div class="mt-4 text-sm flex flex-row items-start text-slate-700 gap-x-2 font-medium">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg> 
                </div>    
                <div class="flex flex-row items-start align-top -mt-[0.18rem]">
                    Get a bulk discount on Polyflow licences
                </div>         
            </div>

            <div class="mt-4 text-sm flex flex-row items-start text-slate-700 gap-x-2 font-medium">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg> 
                </div>    
                <div class="flex flex-row items-start align-top -mt-[0.18rem]">
                    Receive a kickback for every integrated instance of Polyflow.
                </div>         
            </div>
        </div>
        <div class="lg:col-span-3 bg-indigo-50 py-6 rounded-lg text-center">
            <div class="uppercase font-semibold text-indigo-800">Other businesses</div>
            <div class="mt-2 text-sm font-medium text-slate-700">Have a suggestion for a partnership not listed in examples above? Let us know!</div>
        </div>
    </div>
</div>

<app-footer></app-footer>