<div class="w-full h-full flex flex-col items-center justify-center">
    
    <div class="mb-8 flex flex-row items-center w-full max-w-6xl text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
          </svg>
        <div class="ml-2"><b>BAYC Explorer</b> Analytics</div>          
    </div>
    <div class="grid grid-cols-2 mb-4 gap-x-4 w-full max-w-6xl">
        <div class="bg-content shadow-md rounded-lg p-8 w-full">
            <div class="pb-2 border-slate-500 text-sm uppercase font-bold text-slate-200 flex flex-row items-center gap-x-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122" />
                  </svg>
                  
                Most used functions
            </div>
            <div class="grid grid-cols-3 mt-4 text-xs uppercase font-medium border-slate-500 pb-2">
                <div>Contract</div>
                <div>Most used method</div>
                <div>Amount</div>
            </div>
            <div class="grid grid-cols-3 mt-2 gap-y-3 text-xs text-slate-400">
                <div>nft-base-factory</div>
                <div>mint</div>
                <div>821</div>
                <div>nft-mintable-factory</div>
                <div>mint</div>
                <div>332</div>
                <div>ape-2334</div>
                <div>transfer</div>
                <div>213</div>
                <div>ape-8212</div>
                <div>approve</div>
                <div>88</div>
            </div>
        </div>
        <div class="bg-content shadow-md rounded-lg p-8 w-full">
            <div class="pb-2 border-slate-500 text-sm uppercase font-bold text-slate-200 flex flex-row items-center gap-x-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122" />
                  </svg>
                  
                Wallet providers
            </div>
            <div class="grid grid-cols-2 mt-4 text-xs uppercase font-medium border-slate-500 pb-2">
                <div>Provider</div>
                <div>Users</div>
            </div>
            <div class="grid grid-cols-2 mt-2 gap-y-3 text-xs text-slate-400">
                <div>metamask</div>
                <div>1201</div>
                <div>magic</div>
                <div>812</div>
                <div>walletconnect</div>
                <div>423</div>
                <div>gnosis</div>
                <div>137</div>
            </div>
        </div>
    </div>
    <div class="max-w-6xl flex flex-col w-full p-8 bg-content shadow-md text-slate-400 rounded-lg" >
        
        <div class="pb-2 border-slate-500 text-sm uppercase font-bold text-slate-200 flex flex-row items-center gap-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122" />
              </svg>
              
            Transaction Metadata
        </div>
        <table>
            <tr class="text-left table-head-text [&>*]:text-sm">
                <th>Hash</th>
                <th>Time</th>
                <th>Device</th>
                <th>Browser</th>
                <th>Country</th>
                <th>Wallet</th>
            </tr>
            <tr class="text-left table-content-data" *ngFor="let item of analytics">
                <td>{{item.hash}}</td>
                <td>{{item.time}}</td>
                <td>{{item.device}}</td>
                <td>{{item.browser}}</td>
                <td>{{item.country}}</td>
                <td>{{item.wallet}}</td>
            </tr>
        </table>
    </div>

</div>