<div class="w-screen lg:h-screen snap-always snap-start flex flex-col justify-center items-center
    bg-gradient-to-tr from-[rgb(6,80,39)] via-[rgb(9,98,80)] to-[rgb(26,54,86)]">
    <div class="max-w-5xl w-full text-white py-24 lg:py-0 px-5 lg:px-0">
        <div class="lg:text-3xl text-lg font-medium lg:font-semibold text-center leading-[1.4]">
            🎛 Polyflow is 100% under your control
        </div>

        <div class="mt-4 text-center leading-8">
            Polyflow was built by veteran blockchain developers & we knews the safety requirements of self-hosting critical components. 
            This is why, with Polyflow, you keep 100% of the control over your app.
        </div>

        <!-- <div class="flex flex-row items-center lg:mt-12 gap-x-8">
            <img class="hidden lg:flex w-8/12 shadow-lg mt-8 rounded-lg object-contain px-4 py-8
                bg-slate-900" src="../../assets/benefits.png" alt="" srcset="">
            <div class="lg:w-4/12 flex flex-col justify-between h-full mt-8 gap-y-3 text-xs">
                <div class="max-w-xl text-base leading-relaxed w-full mb-2">
                    Ensure your frontend is fully compliant with relevant regulation.
                </div>
                <div class="uppercase mt-4 font-semibold">Features</div>
                <div class="p-4 px-6 border rounded-lg w-full border-dashed text-center flex flex-row justify-start items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" />
                      </svg>                                       
                    Block by Country
                </div>
                <div class="p-4 px-6 border rounded-lg w-full border-dashed text-center flex flex-row justify-start items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                      </svg>                                    
                    Collect Tax Info
                </div>
                <div class="p-4 px-6 border rounded-lg w-full border-dashed text-center flex flex-row justify-start items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                      </svg>                                       
                    Detect Suspicious Transactions
                </div>
                <div class="p-4 px-6 border rounded-lg w-full border-dashed text-center flex flex-row justify-start items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                      </svg>
                                       
                    Block Blacklisted Wallets
                </div>
            </div>
            

        </div> -->

        <div class="w-full grid lg:grid-cols-3 grid-cols-1 gap-4 mt-12">
            <div class="w-full p-6 border border-dashed rounded-lg">
                <span class="font-semibold flex flex-row items-center gap-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
                      </svg>                      
                    Your code</span>
                <hr class="opacity-50 my-2">
                <div>
                    You can add Polyflow to <i>any</i> existing web3 app without changing a single line of code.
                </div>
            </div>
            <div class="w-full p-6 border border-dashed rounded-lg">
                <span class="font-semibold flex flex-row items-center gap-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 14.25h13.5m-13.5 0a3 3 0 01-3-3m3 3a3 3 0 100 6h13.5a3 3 0 100-6m-16.5-3a3 3 0 013-3h13.5a3 3 0 013 3m-19.5 0a4.5 4.5 0 01.9-2.7L5.737 5.1a3.375 3.375 0 012.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 01.9 2.7m0 0a3 3 0 01-3 3m0 3h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008zm-3 6h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008z" />
                      </svg>
                      
                    Your infrastructure</span>
                <hr class="opacity-50 my-2">
                <div>
                    Polyflow can run on managed infrastructure <i>or</i> you can easily self-host it
                    on your own infra.
                </div>
            </div>
            <div class="w-full p-6 border-dashed shadow-2xl rounded-lg bg-gradient-to-br from-blue-700 via-purple-800 to-red-700">
                <span class="font-semibold flex flex-row items-center gap-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
                    </svg>
                    
                    Your look & feel</span>
                <hr class="opacity-50 my-2">
                <div>
                    Polyflow is very easy to theme. Choose between our predefined themes <i>or</i>
                    connect your own CSS files to make it your own.
                </div>
            </div>
        </div>
    </div>

</div>