

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Mono', sans-serif;
}

body {
  @apply bg-gradient-to-br from-indigo-50 to-white
}

.bg-dark {
  background: white
}

.bg-content {
  background: white
}



/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
    background-size: 150%;

    -webkit-animation: AnimationName 10s infinite;
    -moz-animation: AnimationName 10s infinite;
    animation: AnimationName 10s infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
  }